<!DOCTYPE html>
<html>
<head>
  <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{% block title %}{% endblock %}</title>
  <style>
    /* css */
  </style>
</head>
<body class="bg-gray-100">

<nav class="bg-gray-600 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-white text-xl font-bold">Book Highlights</h1>
    <ul class="flex space-x-4">
      <li>
        <button hx-get="/base" hx-target="#main-content" hx-swap="innerHTML" class="text-white hover:text-gray-200">
          Upload File
        </button>
      </li>
      <li>
        <button hx-get="/v1/fetchHighlights" hx-target="#main-content" hx-swap="innerHTML" class="text-white hover:text-gray-200">
          Fetch Highlights
        </button>
      </li>
      <li>
        <button hx-get="/v1/search" hx-target="#main-content" hx-swap="innerHTML" class="text-white hover:text-gray-200">
          Search
        </button>
      </li>
    </ul>
  </div>
</nav>

<div id="main-content" class="container mx-auto mt-8">
  <main>
    {% block content %}{% endblock %}
  </main>
</div>



<footer>
  <!-- Add footer content -->
</footer>
</body>
</html>